* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    position: relative;
    padding-bottom: 100px;
    overflow-x: hidden;
    min-height: 100vh;
}